
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="http://cdn.jsdelivr.net/jquery.validation/1.15.0/additional-methods.min.js"></script>

<div class="wrap-login100">
    @using (Html.BeginForm("Register", "Home", FormMethod.Post, new { @class = "login100-form validate-form resgister", 
        enctype = "multipart/form-data" }))
    {
        <span class="login100-form-title p-b-43" style="margin-top: -130px;">
            Register to continue
        </span>

        <div class="wrap-input100" style="margin-bottom: 30px;">
            <input class="input100" type="text" name="name" placeholder="Username" required>
            <span style="margin-left: 5px; margin-top: 5px; color: red;" class="valname"></span>
        </div>

        <div class="wrap-input100" style="margin-bottom: 30px;">
            <input class="input100" type="password" name="pass" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[A-Z]).{8,}"
                   title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
            <span style="margin-left: 5px; margin-top: 5px; color: red;" class="valpass"></span>
        </div>
        <div class="wrap-input100" style="margin-bottom: 30px;">
            <input class="input100 em" type="email" name="email" placeholder="Email"
                   tittle="Email must be in the format xx@xx.xx" required>
            <span style="margin-left: 5px; margin-top: 5px; color: red;" class="valemail"></span>
        </div>

        <div class="wrap-input100" style="margin-bottom: 30px;">
            <input class="input100" type="text" name="phone" placeholder="Phone Number" pattern="([0-9]{3})+-+([0-9]{4})+-+([0-9]{4})" 
                   tittle="Phone number format fails" required>
            <span style="margin-left: 5px; margin-top: 5px; color: red;" class="valphone"></span>
        </div>
        <div class="wrap-input100" style="margin-bottom: 30px;">
            <input class="input100 ad" type="text" name="address" placeholder="Address" required>
            <span style="margin-left: 5px; margin-top: 5px; color: red;" class="valaddress"></span>
        </div>

        <div class="wrap-input100" style="margin-bottom: 30px;">
            @Html.TextBox("file", "", new { type = "file", accept = "image/*" }) <br />
            <span style="margin-left: 5px; margin-top: 5px; color: red;" class="valemoij"></span>
        </div>

        <div class="container-login100-form-btn">
            <input type="submit" value="Register" class="login100-form-btn">
            </input>
        </div>

        <div class="text-center p-t-46 p-b-20">
            <span class="txt2">
                or <a href="@Url.Action("Index", "Home")">Log in</a>
            </span>
        </div>
    }
    <div class="login100-more" style="background-image: url('/images/bg-01.jpg');">
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".em").rules("add", { pattern: "[a-z0-9._%+-]+@@[a-z0-9]+\.[a-z]{2,4}" });
        $(".ad").rules("add", { pattern: "[a-z0-9]+-+[a-z0-9]" });
    })
</script>
